.input {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.validInput {
  border-color: lightblue;
}

.invalidInput {
  border-color: red;
}

.error {
  color: rgb(254, 135, 135);
  font-weight: bold;
}
